<html>
    <head>
        <title>作业公告板</title>
        <style>
            h1 {
                text-align: center;
                margin-top: 6%;
                margin-bottom: 2%;
            }
            p{
                margin:20px;
            }
            a{
                margin:20px;
            }
        </style>
    </head>
    <body>
        <h1>欢迎使用人大附中三亚学校高一(4)班作业公告板</h1>
        <p>本网站代码（包括前端和后端）在Github以GNU v3协议开源，欢迎借鉴使用。根据相关法律法规和运营需要，请自行准备合适的服务器和备案后的网站域名。</p>
        <a href="/homework"> 作业公告板 </a>
        <a href="/homework/publish"> 布置作业</a>
        <a href="/homework/submissions"> 作业布置记录</a>
        <a href="/label/edit"> 标签管理</a>
        <a href="/subjects"> 科目与常用词管理</a>
        <p>本网站在学校测试使用，仅用于教育教学用途。请无关访客不要恶意使用相关功能、篡改作业、恶意删除作业，一切操作都会有后台日志记录，一经发现，您的IP将遭到封禁；请勿公开网址，以防止遭受网络攻击；如遇网络攻击，将向公安机关和国家安全机关报告。</p>
    </body>
</html>